-# Header Block
%header{"data-block-type" => "headers", "data-id" => "10"}
  .container
    %nav.navbar.navbar-expand-md.no-gutters
      %button.navbar-toggler{"aria-controls" => "navbarNav7", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => ".navbar-collapse-2", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarNav7.collapse.navbar-collapse.navbar-collapse-2.justify-content-center.col-md-6
        %ul.navbar-nav.justify-content-center
          %li.nav-item.active
            %a.nav-link{:href => "https://www.froala.com"}
              Home
              %span.sr-only (current)
          %li.nav-item
            %a.nav-link{:href => "https://www.froala.com"} Features
          %li.nav-item
            %a.nav-link{:href => "https://www.froala.com"} Pricing
          %li.nav-item
            %a.nav-link{:href => "https://www.froala.com"} Team
          %li.nav-item
            %a.nav-link{:href => "https://www.froala.com"} Contact
      .collapse.navbar-collapse.navbar-collapse-2
        %ul.navbar-nav.ml-auto.justify-content-end
          %li.nav-item
            %a.nav-link{:href => "https://www.froala.com"} Log In
        %a.btn.ml-md-3{:href => "https://www.froala.com"} Register

-# Overview Block
%input{name: "stock_price", type: "hidden", value: @stock_price, class: 'stock_price' }/
%section.fdb-block{"data-block-type" => "contents", "data-id" => "1", :draggable => "true"}
  .container
    .row.align-items-center
      .col-12.col-md-6.mb-4.mb-md-0.text-left
        %h1 #{@bland[:bland_name]}(#{@bland[:bland_cd]})
        %h3 #{@bland[:market_prod_cls]}
      .col-12.col-md-6.mb-4.mb-md-0.text-left
        %div{:align => "center", :style => "margin:0px;padding:0px;"}
        %table{:style => "border-collapse: collapse;border:1px double #000080;background-color:#D7F1F8;color:#696969;text-align:left;", :width => "300px"}
          %tbody
            %tr
              %th{:style => "border:1px double #000080;background-color:#66CCFF;color:#696969;text-align:center;"}  現在値
              %th{:style => "border:1px double #000080;background-color:#66CCFF;color:#696969;text-align:center;"}  前回比
              %th{:style => "border:1px double #000080;background-color:#66CCFF;color:#696969;text-align:center;"}  前日比
            %tr
              %td{:style => "border:1px double #000080;text-align:left;"} #{@stock_price[2][0]}
              %td{:style => "border:1px double #000080;text-align:left;"} #{@stock_price[2].last - @stock_price[2].last(2)[0]} 
              %td{:style => "border:1px double #000080;text-align:left;"} #{@stock_price[3][0]}

-# Chart Block
%canvas#chart_div{:style => "width: 98%; height: 500px;"}

-# Footer Block
%footer.fdb-block.footer-small{"data-block-type" => "footers", "data-id" => "8"}
  .container
    .row.text-center.align-items-center
      .col.mt-4.mt-lg-0.text-center
        %ul.nav.justify-content-center
          %li.nav-item
            %a.nav-link.active{:href => "https://www.froala.com"} Home
          %li.nav-item
            %a.nav-link{:href => "https://www.froala.com"} Features
          %li.nav-item
            %a.nav-link{:href => "https://www.froala.com"} Privacy Policy
          %li.nav-item
            %a.nav-link{:href => "https://www.froala.com"} Terms
          %li.nav-item
            %a.nav-link{:href => "https://www.froala.com"} About
    .row.mt-4
      .col.text-center
        © 2017 Froala. All Rights Reserved

