<h1>Blands#show</h1>
<p>Find me in app/views/blands/show.html.erb</p>
<table>
    <dr>
        <dt>パラメタ</dt><dt>値</dt>
    </dr>
    <dr>
        <dt>銘柄コード</dt><dt><%= @bland[:bland_cd] %></dt>
    </dr>
    <dr>
        <dt>銘柄名</dt><dt><%= @bland[:bland_name] %></dt>
    </dr>
    <dr>
        <dt>市場区分</dt><dt><%= @bland[:market_prod_cls] %></dt>
    </dr>
    <dr>
        <dt>取得フラグ</dt><dt><%= @bland[:fetch_flg] %></dt>
    </dr>
    <dr>
        <dt>アクセスURL</dt><dt><%= @bland[:access_url_string] %></dt>
    </dr>
</table>